/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/app/public/
/storage/debugbar/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
.env
.env.*.php
.phpunit.result.cache
docker-compose.yml
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
.DS_Store
Thumbs.db
